
<section class="intro pt-150">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h1 class="mb-50">The Status Network</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<p class="teaser-1 mb-150">The Status Network builds the products, tools and infrastructure for resilient, sustainable and inclusive communities.</p>
				<a href="/about/" class="link-arrow">
					<img src="/img/arrow-right.svg" alt="arrow-right">
					Learn More
				</a>
			</div>
		</div>
	</div>
	<div class="floating-logo">
		<%- image_tag("/img/floating-logo.svg") %>
	</div>
</section>

<div class="products-container">
	<section class="quick-nav">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li>
							<a href="#products">
								<img src="/img/small-products.svg" alt="small-products">
								Products
							</a>
						</li>
						<li>
							<a href="#developer-tools">
								<img src="/img/small-developer-tools.svg" alt="small-developer-tools">
								Developer Tools						
							</a>
						</li>
						<li>
							<a href="#infrastructure-layer">
								<img src="/img/small-infrastructure.svg" alt="small-infrastructure">
								Infrastructure
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="ecosystem dark pt-200 pb-200">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="inner-start">
						<h2>A Robust and <br>Powerful Ecosystem</h2>
						<p class="teaser-2">We build decentralized technologies ranging from protocol-level infrastructure to consumer applications — forming an open source peer-to-peer technology stack.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container products pt-150" id="products">
			<div class="row">
				<div class="col-md-12">
					<h4 class="grey-subtitle">
						<img src="/img/big-products.svg" class="margin-right-20" alt="big-products">
						Products
					</h4>
					<div class="in-view" data-target="products"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="inner-img">
						<a href="https://status.im/" target="_blank">
							<div class="bg"><%- image_tag("/img/bg-status.png") %></div>
							<div class="inner">
								<div class="product-logo"><%- image_tag("/img/logo-home-status.svg") %></div>
								<span class="black">Private, secure communication – Chat, Browse, Transact</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="inner-img">
						<a href="https://keycard.tech" target="_blank">
							<div class="bg"><%- image_tag("/img/bg-keycard.svg") %></div>
							<div class="inner">
								<div class="product-logo"><%- image_tag("/img/logo-home-keycard.svg") %></div>
								<span>Secure, Contactless, Open Source Hardwallet</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="inner-img">
						<a href="https://dap.ps/" target="_blank">
							<div class="bg"><%- image_tag("/img/bg-dapps.svg") %></div>
							<div class="inner">
								<div class="product-logo"><%- image_tag("/img/logo-home-dapps.svg") %></div>
								<span>Curated Ethereum dapp explorer </span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-30">
					<div class="inner-img">
						<a href="https://assemble.fund" class="experimental" target="_blank">
							<div class="bg"><%- image_tag("/img/bg-assemble.svg") %></div>
							<div class="inner">
								<div class="product-logo"><%- image_tag("/img/logo-home-assemble.svg") %></div>
								<span>Decentralized project funding</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container products pt-150" id="developer-tools">
			<div class="row">
				<div class="col-md-12">
					<h4 class="grey-subtitle">
						<img src="/img/big-developer-tools.svg" class="margin-right-20" alt="big-developer-tools">
						Developer Tools
					</h4>
					<div class="in-view" data-target="developer-tools"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="inner-img">
						<a href="https://embark.status.im/" target="_blank">
							<div class="bg"><%- image_tag("/img/bg-embark.png") %></div>
							<div class="inner">
								<div class="product-logo"><%- image_tag("/img/logo-home-embark.svg") %></div>
								<span>All-in-one developer platform for building & deploying DApps</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="inner-img">
						<a href="https://subspace.status.im/" target="_blank">
							<div class="bg"><%- image_tag("/img/bg-subspace.svg") %></div>
							<div class="inner">
								<div class="product-logo"><%- image_tag("/img/logo-home-subspace.svg") %></div>
								<span>Frontend development library & blockchain sync</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container products pt-150" id="infrastructure-layer">
			<div class="row">
				<div class="col-md-12">
					<h4 class="grey-subtitle">
						<img src="/img/big-infrastructure.svg" class="margin-right-20" alt="big-infrastructure">
						Infrastructure Layer
					</h4>
					<div class="in-view" data-target="infrastructure-layer"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="inner-img">
						<a href="https://vac.dev/" target="_blank">
							<div class="bg"><%- image_tag("/img/bg-vac.svg") %></div>
							<div class="inner">
								<div class="product-logo"><%- image_tag("/img/logo-home-vac.svg") %></div>
								<span>Secure peer-to-peer messaging stack.</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="inner-img">
						<a href="https://nimbus.status.im/" target="_blank">
							<div class="bg"><%- image_tag("/img/bg-nimbus.svg") %></div>
							<div class="inner">
								<div class="product-logo"><%- image_tag("/img/logo-home-nimbus.svg") %></div>
								<span>Researching and implementing light Ethereum 2.0 clients</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="inner-img">
						<a href="https://nimbus.status.im/" target="_blank">
							<div class="bg"><%- image_tag("/img/bg-libp2p.svg") %></div>
							<div class="inner">
								<div class="product-logo"><%- image_tag("/img/logo-home-libp2p.svg") %></div>
								<span>Implementation of libp2p in Nim for mobile phones & other resource restricted devices.</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container inner-end">
			<div class="row">
				<div class="col-md-6">
					<h3 class="mb-50">Have a project or idea that supports the mission?</h3>
					<p class="teaser-2">Submit a proposal to the Status Network through Assemble - our decentralized funding platform. We are looking to fund projects across each layer in the stack that support our mission.</p>
				</div>
				<div class="col-md-6 d-flex align-items-center justify-content-center">
					<div class="link-arrow">
						<a href="https://assemble.fund/" class="link-arrow" target="_blank">
							<img src="/img/arrow-right.svg" alt="arrow-right">
							Fund your work with Assemble
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<section class="mission pt-200 pb-200">
	<div class="container">
		<div class="row">
			<div class="col-xl-5 col-md-6">
				<div class="inner">
					<h3 class="mb-50">A Mission, <br>driven by principles</h3>
					<p class="teaser-2 mb-50">Our peer-to-peer technology provides anyone, anywhere access to private and secure solutions - we’re working to empower sovereign communities around the globe.</p>
					<ul class="inline-links">
						<li>
							<a href="/about/" class="link-arrow">
								<img src="/img/arrow-right.svg" alt="arrow-right">
								Learn More
							</a>
						</li>
						<li>
							<a href="https://ambassador.status.im/" class="link-arrow">
								<img src="/img/arrow-right.svg" alt="arrow-right">
								Become an Ambassador
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 ml-auto">
				<div class="inner">
					<h3 class="mb-50">SNT - The Status Network Token</h3>
					<p class="teaser-2 mb-50">SNT is the native token of The Status Network and connects the products and services throughout the ecosystem. It governs the network, powers products features, and incentivizes ongoing initiatives.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="news pt-200 pb-200">
	<div class="container">
		<div class="row">
			<div class="col-md-12 inline">
				<h2>Network News</h2>
				<a href="https://news.statusnetwork.com/" class="link-arrow">
					<img src="/img/arrow-right.svg" alt="arrow-right">
					All News
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="feed">
					<ul class="list-posts"></ul>
				</div>
			</div>
		</div>
	</div>
</section>
