<!-- The main content area -->

<!-- INTRO-SECTION -->
<section class="intro">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h1>Technology to empower sovereign societies.</h1>
				<p class="teaser-1">The Status Network is a collection of projects and people dedicated to creating the tools and infrastructure for resilient, sustainable and inclusive communities.</p>
				<a href="#" class="link-arrow"><%- image_tag("img/arrow-right.svg") %>Learn More</a>
			</div>
		</div>
	</div>
</section>
<!-- END-INTRO-SECTION -->

<!-- QUICK-NAV -->
<section class="quick-nav">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul>
					<li><a href="#"><%- image_tag("img/small-products.svg") %>Products</a></li>
					<li><a href="#"><%- image_tag("img/small-developer-tools.svg") %>Developer Tools</a></li>
					<li><a href="#"><%- image_tag("img/small-infrastructure.svg") %>Infrastructure</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- END-QUICK-NAV -->

<!-- ECOSYSTEM -->
<section class="ecosystem dark">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="inner-start">
					<h2>A Robust and Powerful Ecosystem</h2>
					<p class="teaser-2">We build at each layer in the technology stack to ensure alignment between the blockchain base layer, messaging capabilities, and variety of meaningful user experiences.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container products">
		<div class="row">
			<div class="col-md-12">
				<h4 class="grey-subtitle"><%- image_tag("img/big-products.svg") %>Products</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="inner-img">
					<a href="#"><%- image_tag("img/Messenger.png") %></a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="inner-img">
					<a href="#"><%- image_tag("img/Keycard.png") %></a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="inner-img">
					<a href="#"><%- image_tag("img/DApps.png") %></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 m-t">
				<div class="inner-img">
					<a href="#"><%- image_tag("img/Teller.png") %></a>
				</div>
			</div>
			<div class="col-md-4 m-t">
				<div class="inner-img">
					<a href="#"><%- image_tag("img/Assemble.png") %></a>
				</div>
			</div>
		</div>
	</div>
	<div class="container products">
		<div class="row">
			<div class="col-md-12">
				<h4 class="grey-subtitle"><%- image_tag("img/big-developer-tools.svg") %>Developer Tools</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="inner-img">
					<a href="#"><%- image_tag("img/Embark.png") %></a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="inner-img">
					<a href="#"><%- image_tag("img/Subspace.png") %></a>
				</div>
			</div>
		</div>
	</div>
	<div class="container products">
		<div class="row">
			<div class="col-md-12">
				<h4 class="grey-subtitle"><%- image_tag("img/big-infrastructure.svg") %>Infrastructure Layer</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="inner-img">
					<a href="#"><%- image_tag("img/Vac.png") %></a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="inner-img">
					<a href="#"><%- image_tag("img/Nimbus.png") %></a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="inner-img">
					<a href="#"><%- image_tag("img/Libp2p.png") %></a>
				</div>
			</div>
		</div>
	</div>
	<div class="container inner-end">
		<div class="row">
			<div class="col-md-7">
				<h3>Have a project or idea that supports the mission?</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<p class="teaser-2">Submit a proposal to the Status Network through Assemble - our decentralized funding mechanism. We are looking to fund projects across each layer in the stack that support our mission.</p>
			</div>
			<div class="col-md-5">
				<div class="inner-link">
					<a href="#" class="link-arrow"><%- image_tag("img/arrow-right.svg") %>Submit a Proposal</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END-ECOSYSTEM -->