<%- partial('partial/head') %>
<body class="template-<%- page.layout %>">

    <div class="main-container">
        <%- partial('partial/header') %>
        <%- body %>
        <%- partial('partial/footer') %>
        
    </div>

    <!-- 3rd party scripts -->
    <script type="text/javascript" src="/js/main.min.js"></script>
</body>
</html>
