
<section class="intro pt-150">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h1 class="mb-50">The Status Network <br>Press Kit</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-5 col-md-7">
				<p class="teaser-1 mb-150">The Status Network is a collection of projects and people dedicated to creating the tools and infrastructure for resilient, sustainable and inclusive communities.</p>
			</div>
		</div>
	</div>
	<div class="floating-logo">
		<%- image_tag("/img/floating-logo.svg") %>
	</div>
</section>

<div class="products-container">
	<section class="ecosystem dark pt-200 pb-200">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="inner-start">
						<h2>The Status Network</h2>
						<p class="teaser-2">Choose which project you'd like to explore...</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container products pt-150" id="products">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="inner-img">
						<a href="/press-kit/status/">
							<div class="bg"><%- image_tag("/img/bg-status.png") %></div>
							<div class="inner">
								<div class="product-logo"><%- image_tag("/img/logo-home-status.svg") %></div>
								<span class="black">Private, secure communication – Chat, Browse, Transact</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="inner-img">
						<a href="#" class="soon">
							<div class="bg"><%- image_tag("/img/bg-keycard.svg") %></div>
							<div class="inner">
								<div class="product-logo"><%- image_tag("/img/logo-home-keycard.svg") %></div>
								<span>Secure, Contactless, Open Source Hardwallet</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="inner-img">
						<a href="#" class="soon">
							<div class="bg"><%- image_tag("/img/bg-dapps.svg") %></div>
							<div class="inner">
								<div class="product-logo"><%- image_tag("/img/logo-home-dapps.svg") %></div>
								<span>Curated Ethereum dapp explorer </span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-30">
					<div class="inner-img">
						<a href="#" class="soon">
							<div class="bg"><%- image_tag("/img/bg-teller.svg") %></div>
							<div class="inner">
								<div class="product-logo"><%- image_tag("/img/logo-home-teller.svg") %></div>
								<span>Exchange fiat and crypto anywhere</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-30">
					<div class="inner-img">
						<a href="#" class="soon">
							<div class="bg"><%- image_tag("/img/bg-assemble.svg") %></div>
							<div class="inner">
								<div class="product-logo"><%- image_tag("/img/logo-home-assemble.svg") %></div>
								<span>Decentralized project funding</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-30">
					<div class="inner-img">
						<a href="#" class="soon">
							<div class="bg"><%- image_tag("/img/bg-subspace.svg") %></div>
							<div class="inner">
								<div class="product-logo"><%- image_tag("/img/logo-home-subspace.svg") %></div>
								<span>Frontend development library & blockchain sync</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-30">
					<div class="inner-img">
						<a href="#" class="soon">
							<div class="bg"><%- image_tag("/img/bg-embark.png") %></div>
							<div class="inner">
								<div class="product-logo"><%- image_tag("/img/logo-home-embark.svg") %></div>
								<span>All-in-one developer platform for building & deploying DApps</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-30">
					<div class="inner-img">
						<a href="#" class="soon">
							<div class="bg"><%- image_tag("/img/bg-vac.svg") %></div>
							<div class="inner">
								<div class="product-logo"><%- image_tag("/img/logo-home-vac.svg") %></div>
								<span>Secure peer-to-peer messaging stack.</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-30">
					<div class="inner-img">
						<a href="#" class="soon">
							<div class="bg"><%- image_tag("/img/bg-nimbus.svg") %></div>
							<div class="inner">
								<div class="product-logo"><%- image_tag("/img/logo-home-nimbus.svg") %></div>
								<span>Researching and implementing light Ethereum 2.0 clients</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-30">
					<div class="inner-img">
						<a href="#" class="soon">
							<div class="bg"><%- image_tag("/img/bg-libp2p.svg") %></div>
							<div class="inner">
								<div class="product-logo"><%- image_tag("/img/logo-home-libp2p.svg") %></div>
								<span>Implementation of libp2p in Nim for mobile phones & other resource restricted devices.</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>