<section class="intro pt-150">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h1 class="mb-50 status-h1">
					<%- image_tag("/img/press-kit-status-logo.svg") %>
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-5 col-md-7">
				<p class="teaser-1 mb-150">Access the latest Press from Status and download any files for self publishing using our branded assets.</p>
				<a href="/press-kit/" class="link-arrow black">
					<%- image_tag("/img/arrow-back-black.svg") %>
					back to all projects
				</a>
			</div>
		</div>
	</div>
	<div class="floating-logo">
		<%- image_tag("/img/floating-logo.svg") %>
	</div>
</section>

<div class="brand-assets">
	<section class="quick-nav quick-nav-press-kit">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li>
							<a href="/press-kit/status/" class="active">
								<%- image_tag("/img/icon-brand-assets.svg") %>	
								Brand Assets						
							</a>
						</li>
						<li>
							<a href="/press-kit/status/press/">
								<%- image_tag("/img/icon-press-materials.svg") %>	
								Press
							</a>
						</li>
						<li>
							<a href="mailto:press@status.im">
								<%- image_tag("/img/icon-contact-us.svg") %>
								Contact Us
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="status-brand-assets pt-200 pb-200">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="inner-start">
						<h2>Status brand assets</h2>
						<p class="teaser-2 mb-50">Official Status announcements and press releases.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container assets mt-50" id="assets">
			<div class="row">
				<div class="col-md-6">
					<h4 class="grey-subtitle">
						<div class="icon-holder">
							<%- image_tag("/img/brand-assets-status-logos.svg") %>
						</div>
						Logos
					</h4>
					<div class="inner">
						<%- image_tag("/img/press-kit-status-logo.svg") %>
					</div>
					<a href="/files/Status-Logos.zip" class="btn" download>Download</a>
				</div>
				<div class="col-md-6">
					<h4 class="grey-subtitle">
						<div class="icon-holder">
							<%- image_tag("/img/icon-guidelines.svg") %>
						</div>
						Brand Guidelines
					</h4>
					<div class="inner">
						<%- image_tag("/img/press-kit-status-logo-sign.svg") %>
					</div>
					<a href="/files/Status-Styleguide.zip" class="btn" download>Download</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 pt-150">
					<h4 class="grey-subtitle">
						<div class="icon-holder">
							<%- image_tag("/img/icon-event-material.svg") %>
						</div>
						Event Material
					</h4>
					<div class="inner">
						<%- image_tag("/img/press-kit-status-event-material.svg") %>
					</div>
					<a href="https://docs.google.com/presentation/d/1Lh18U4PrPDA3h4M6LHBfuRX8QPH3_wUCq_ovchKczLw/edit#slide=id.g598bf70fe2_0_857" target="_blank" class="btn">Download</a>
				</div>
				<div class="col-md-6 pt-150">
					<h4 class="grey-subtitle">
						<div class="icon-holder">
							<%- image_tag("/img/icon-product-assets.svg") %>
						</div>
						Product Assets
					</h4>
					<div class="inner inner-assets">
						<%- image_tag("/img/press-kit-status-assets.png") %>
					</div>
					<a href="#" class="btn" download>Download</a>
				</div>
			</div>
		</div>
	</section>
</div>
